$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #EAEAEA;
}

.imported-list .item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
}

.transaction-list .item{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.icon i {
  color: #000;
}