
<div ng-controller="CategoriesCtrl">
  <div class="content">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <div class="commands-wrapper">
          <a class="btn btn-primary btn-block" ng-click="addCategory()">Adicionar</a>  
        </div>
      </div>
    </div>

    <table class="categories-list table table-stripped">
      <tr class="item" ng-repeat="category in categories track by category.id">

        <td class="col-xs-1">
          <div class="color-cicle" style="background-color: {{ category.color }}"></div>
        </td>
        <td class="col-xs-9">
          <span>{{ category.name }}</span>
        </td>

        <td class="col-xs-2">
          <a class="btn btn-success icon" ng-click="editCategory(category)"><i class="fa fa-pencil"></i></a>  
          <a class="btn btn-danger icon" ng-click="destroyCategory(category.id)"><i class="fa fa-trash"></i></a>  
        </td>

      </tr>
    </table>

    <div class="no-categories" ng-show="categories.length == 0">
      <span>Nenhuma categoria cadastrada</span>
    </div>

    <rvg-modal control="modalControl" template-url="addCategoryTemplate.html"></rvg-modal> 

  </div>
</div>

<script type="text/javascript">
  angular
  .module('finansesApp')
  .controller('CategoriesCtrl', function($scope, $http, $location, UserInfoService){
    var currentUserInfo = UserInfoService.get();
    if (!currentUserInfo)
    {
       $location.path('/login');
       return;
    }

    $scope.modalControl = {};

    var headers = {
      'Authorization': 'Token token=' + currentUserInfo.token,
      'Accept': 'application/json;odata=verbose'
    };

    $scope.addCategory = function(){
      $scope.modalControl.open();
    }

    $scope.getCategories = function(){
     $http({
        method: 'GET',
        url: '/api/categories',
        headers : headers
     })
     .then(
        function successCallback(response) {
          $scope.categories = response.data.categories;
        },
        function errorCallback(response) {
           console.log(response);
        }
     );
    }

    $scope.editCategory = function(category){
      $scope.modalControl.formData = category;
      $scope.modalControl.open();
    }

    $scope.destroyCategory = function(categoryId){
     $http({
        method: 'DELETE',
        url: '/api/categories/' + categoryId,
        headers : headers
     })
     .then(
        function successCallback(response) {
          $scope.getCategories();
        },
        function errorCallback(response) {
          console.log(response);
        }
     );
    }

    $scope.modalControl.addCategory = function(){
      var url;
      var method;
      if ($scope.modalControl.formData.id > 0)
      {
        url = '/api/categories/' + $scope.modalControl.formData.id;
        method = 'PATCH';
      }
      else
      {
        url = '/api/categories';
        method = 'POST';
      }        

      $http({
        method: method,
        url: url,
        headers : headers,
        data: { category : $scope.modalControl.formData }
      })
      .then(
        function successCallback(response) {
          $scope.modalControl.formData = {};
          $scope.modalControl.close();
          $scope.getCategories();
        },
        function errorCallback(response) {
          console.log(response);
        }
      );
    }

    $scope.getCategories();
  });

</script>