<div class="commands-wrapper">
  <a class="btn btn-primary" ng-click="addTransaction()">Adicionar</a>  
</div>

<div class="transaction-list">
  <div class="item" ng-repeat="transaction in transactions track by transaction.id">
    <div class="row">
      <div class="col-xs-6">
        <div>
          {{ transaction.description }}
        </div>
        <div>
          {{ transaction.date }}
        </div>
      </div>
      <div class="col-xs-2">
        {{ transaction.category.name }}
      </div>
      <div class="col-xs-2">
        {{ transaction.value | money:"R$ ":"2":"," }}
      </div>
      <div class="col-xs-2">
        <a class="btn icon" ng-click="editTransaction(transaction)"><i class="fa fa-pencil"></i></a>  
        <a class="btn icon" ng-click="destroyTransaction(transaction.id)"><i class="fa fa-trash"></i></a>  
      </div>
    </div>
  </div>
</div>

<rvg-modal control="modalControl" template-url="modalTemplate.html"></rvg-modal> 
