<div ng-repeat="transaction in transactions track by transaction.id">
  {{ transaction.description }}
  {{ transaction.category }}
  {{ transaction.value }}
  <a class="btn" ng-click="destroyTransaction(transaction.id)"><i class="fa fa-trash"></i></a>
</div>

<form ng-submit="addTransaction()">
  <input type="text" placeholder="Descrição" ng-model="formData.description" />
  <input type="text" placeholder="Valor em centavos" ng-model="formData.value" />

  <input type="submit" value="Adicionar transação" class="btn btn-primary" />
</form>

