/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

body {
  background-color: #EEE;
}

a {
  cursor: pointer;
}

header {
  background-color: #fff;
  z-index: 2;
}

header .logo {
  background-color: #30D371;
  color: #fff;
  padding: 25px;
}

header .mobile-menu {
  background-color: #30D371;
  color: #fff;   
}

header .logo a {
  color: #fff;
  display: block;
  text-align: center;
}

header .mobile-menu a {
  color: #fff;
  display: block;
  padding: 25px 20px;
}

header .logo a:hover {
  text-decoration: none;
}

.user-info-wrapper {
  background-color: #fff;
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
}

.side-nav.opened {
  display: block !important;
}

.side-nav {
  background-color: #323544;
}

.side-nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px -15px 0px -15px;
}

.side-nav li {
  margin: 0px;
}

.side-nav a, .side-nav a:focus {
  color: #eee;
  display: block;
  padding: 20px 10px;
  text-decoration: none;
}

.side-nav a:hover {
  background-color: #1e202c;
}

/* Login */
.form-container {
  background-color: #fff;
  padding: 50px 30px;
  margin: 200px auto;
  width: 400px;
}

.form-container a {
  text-align: center;
}

.server-message {
  padding: 10px 0px;
  text-align: center;
}

.server-message span {
  color: red;
}

/* Transations */

.content {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 25px;
  padding: 25px;
}

.commands-wrapper {
  margin: 10px;
}

.imported-list .item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
}

.transaction-list {
  margin: 10px 0;
}

.transaction-list .item{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}

.icon {
  color: #fff;
}

/* Color Picker */
.color-picker {
  width: 400px;
}

.color-picker .input {
  border: 1px solid #ccc;
  height: 35px;
  width: 100px;
}

.pallete .color {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.color-cicle {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}